{% extends 'base.html.twig' %}

{% block title %}Event index{% endblock %}

{% block body %}
    <h1>Event index</h1>

    <table style="color: white;" class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Start</th>
                <th>End</th>
                <th>Min</th>
                <th>Max</th>
                <th>Description</th>
                <th>Image</th>
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_LEADER') %}
                <th>actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.name }}</td>
                <td>{{ event.start ? event.start|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ event.end ? event.end|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ event.min }}</td>
                <td>{{ event.max }}</td>
                <td>{{ event.description }}</td>
                <td>{{ event.image }}</td>
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_LEADER') %}
                <td>
                    <a class="btn btn-primary" href="{{ path('event_show', {'id': event.id}) }}">show</a>
                    <a class="btn btn-secondary" href="{{ path('event_edit', {'id': event.id}) }}">edit</a>
                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_LEADER') %}
    <a class="btn btn-primary" href="{{ path('event_new') }}">Create new</a>
    {% endif %}
{% endblock %}
