{% extends 'base.html.twig' %}

{% block title %}Registration index{% endblock %}

{% block body %}
    <h1>Registration index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Event</th>
                <th>User</th>
                <th>Location</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for registration in registrations %}
            <tr>
                <td>{{ registration.id }}</td>
                <td>{{ registration.event }}</td>
                <td>{{ registration.user }}</td>
                <td>{{ registration.location }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('registration_show', {'id': registration.id}) }}">show</a>
                    <a class="btn btn-secondary" href="{{ path('registration_edit', {'id': registration.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('registration_new') }}">Create new</a>
{% endblock %}
